<!--
        Step 1: add attribute ng-app to html to signify that AngularJS should be used (AngularJS referred to as 'ng')
        Step 2: add script to bring in angular library
        Step 3: bring in controller js file
        Step 4: set controller to use
        Step 5: add input, set model to a name
        Step 6: add drop down for ordering
        Step 7: set ng to loop through users and print out user info filtered by input specifying model to use

-->

<!DOCTYPE html>
<html ng-app="superheroApp" ng-controller="SuperheroCtrl">   <!-- Step 1, Step 4 -->
<head>
    <title>dcc11</title>
</head>
<body>


<input type="text" ng-model="query">    <!-- Step 5 -->

<select ng-model="order">           <!-- Step 6 -->
    <option value="name">Name</option>
    <option value="emailAddress">Email Address</option>
</select>

<div ng-repeat="user in users | filter:query | orderBy:order"> <!-- Step 7 -->
    <div my-superhero></div>
</div>

</body>
<script type="text/javascript" src="lib/angular.min.js"></script>  <!-- Step 2 -->
<script type="text/javascript"src="js/controllers/dcc.superheroSvcCtrl.js" ></script>  <!-- Step 3 -->
<script type="text/javascript"src="js/services/SuperHeroData.js" ></script>
<script type="text/javascript" src="js/directives/superheroDetail.js" ></script>
</html>